.header-bottom::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -6px;
  width: 0;
  border-bottom: 2px solid #ff6600;
  transition: width 0.3s;
}

.header-bottom:hover::after {
  left: 0;
  width: 100%;
}
