.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: #848484 !important;
  opacity: 1 !important;
}
.swiper-pagination {
  bottom: 10px !important;
}
.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
  width: 20px !important;
  border-radius: 10px !important;
}
